/* styles/Calendar.module.css */

.calendarContainer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: white;
    font-family: 'Comfortaa', cursive;
  }
  
  .header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
  }
  
  .material-icons {
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  