.header {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.iconButton {
  background-color: transparent;
  border: none;
  color: #fff;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
  line-height: 1.2;
  pointer-events: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.iconButton:hover {
  background-color: #ff7b00;
  transform: scale(1.1);
}

.material-icons {
  font-size: 24px;
}

.accountMenu {
  position: relative;
}



.dropdownContent.show {
  display: block;

}


.logoutButton .material-icons {
  font-size: 24px;
}


.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
  color: #fff;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  z-index: 1001;
  animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

.toastMessage {
  display: flex;
  align-items: center;
}

.toastMessage::before {
  content: 'check_circle';
  font-family: 'Material Icons';
  margin-right: 10px;
  color: #ff7b00;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

