@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

/* Apply base styles */
body, html, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}

* {
  user-select: none; /* Universal user-select */
  box-sizing: border-box; /* Universal box-sizing */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', 'Helvetica Neue', Arial, sans-serif;
  background-color: #111;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none !important;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #222; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid #222; /* Padding around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

@media (max-width: 1200px) {
  .cursor {
    display: flex !important;
  }
}
