/* styles/Home.module.css */
.navbar {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.navButton {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 10px 20px;
  background-color: #F3A953;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navButton:hover {
  color: white;
  background-color: #F39C53;
}

.loginButton {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  padding: 15px 30px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginButton:hover {
  color: white;
  background-color: #FFA500;
}

.navbar-brand img {
  width: 50px;
  height: auto;
}

@media screen and (max-width: 480px) {
  .navbar {
    width: 100%;
    height: fit-content;
  }

  .logo-shadow {
    width: 50px !important;
    height: 50px !important;
  }

  .content-container {
    width: 100%;
    margin-left: 0;
    padding: 0 20px;
  }

  .nav-item a {
    font-size: 14px;
  }

  .hero-text p, .hero-img-btn {
    padding: 20px 40px;
  }

  .navbar-brand img {
    width: 50%;
  }

  .login-logo {
    width: 150px;
    height: 150px;
  }

  .content-container {
    margin-left: 20px;
  }

  .col-md-6 {
    padding: 20px 40px 40px 20px;
  }

  .col-md-3 {
    padding-right: 40px;
  }

  .footer-left, .footer-middle, .footer-right {
    margin: 0 20px;
  }

  .reduced-size {
    width: 100%;
  }

  .wallaper-selection-image {
    width: 100% !important;
    height: auto !important;
  }
}
