/* styles/Login.module.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero {
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  .hero p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .loginButton {
    background-color: #ff7b00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
  }
  