/* styles/Notes.module.css */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');


.resizableBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  color: var(--text-color);
  font-family: var(--font-family);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--font-family);
}

.header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  padding: 10px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  font-family: var(--font-family);
}

.header h2 {
  margin: 0;
  font-weight: 400;
}

.header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--text-color);
}

.editor {
  flex-grow: 1;
  background-color: var(--editor-background-color);
  padding: 10px;
  overflow: auto;
  border-radius: 0 0 10px 10px;
  font-family: var(--font-family);

    -webkit-user-select: text; /* Safari */
    -moz-user-select: text;    /* Firefox */
    -ms-user-select: text;     /* Internet Explorer/Edge */
      user-select: text;         /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}
