/* styles/PomodoroTimer.module.css */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
.timerContainer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    font-family: 'Comfortaa', cursive;
    color: white;
  }
  
  .header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    width: 100%;
    font-family: 'Comfortaa', cursive;
  }
  
  .timerHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;
  }
  
  .timerMode {
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    transition: background-color 0.3s;
    font-family: 'Comfortaa', cursive;
  }
  
  .timerMode:hover,
  .timerMode.active {
    background-color: #ff7b00;
    border-radius: 5px;
  }
  
  .timerDisplay {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .timerDisplay h3 {
    font-size: 3rem;
    margin-right: 10px;
    color: #fff;
  }
  
  .buttonContainer {
    display: flex;
    align-items: center;
  }
  
  .startButton {
    background-color: #ff7b00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Comfortaa', cursive;
  }
  
  .resetButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .material-icons {
    cursor: pointer;
    font-size: 24px;
    color: white;
  }
  