.selectionBar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(145deg, var(--bg-primary), var(--bg-secondary));
  color: var(--text-primary);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  padding: 10px 20px;
  gap: 15px; /* Space between icons */
  z-index: 1000;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px); /* Add a subtle blur effect */
}

.iconButton {
  background-color: var(--bg-secondary);
  border: none;
  color: var(--text-primary);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
  cursor: pointer;
}
.selectionBar.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.iconButton:hover {
  background-color: var(--accent-color);
  transform: scale(1.1);
}

.iconButton.active {
  background-color: var(--accent-color); /* Highlight active buttons */
  box-shadow: 0 6px 12px rgba(255, 153, 0, 0.5);
}
.iconButton:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.material-icons {
  font-size: 28px;
  transition: transform 0.3s ease;
}
.iconButton:hover .material-icons {
  transform: scale(1.1); /* Slight grow on hover */
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 120px;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
  line-height: 1.2;
  pointer-events: none;
}

.hidden {
  display: none;
}

.notificationDot {
  width: 12px;
  height: 12px;
  background-color: #ff4500;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 2px solid #2a2a2a; /* Add border for better visibility */
}

.dragging {
  background-color: #ff7b00;
  transform: scale(1.2);
  position: absolute;
}

@media (max-width: 1180px) {
  .container {
    transform: scale(0.7);
    transform-origin: top left;
    padding: 10px;
  }
}