@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

.settingsContainer {
  font-family: 'Comfortaa', cursive;
  padding: 30px;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  max-width: 400px;
  background: linear-gradient(145deg, #1e1e1e, #2a2a2a);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.closeButton {
  background-color: transparent;
  border: none;
  color: #ff7b00;
  
  font-size: 24px;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #ff9900;
}

.settingsList {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.setting {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.setting:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  margin-right: 15px;
  font-size: 24px;
  color: #ff7b00;
}

.settingName {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
}

/* Custom scrollbar styles */
.settingsList::-webkit-scrollbar {
  width: 8px;
}

.settingsList::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.settingsList::-webkit-scrollbar-thumb {
  background: #ff7b00;
  border-radius: 10px;
}

.settingsList::-webkit-scrollbar-thumb:hover {
  background: #ff9900;
}

.tooltip {
  position: relative;
  display: inline-block;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}