@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the background is behind other elements */
  pointer-events: none;
}



.nav {
  display: flex;
  align-items: center;
}

.logoutButton {
  background-color: #ff7b00;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.main {
  display: flex;
  flex: 1;
  padding: 20px;
  width: 100%;
}

.sidebar {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 999; /* Ensure sidebar is above the background but below the timer */
 
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.toggleButton {
  background-color: #ff7b00;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 300px;
}

.backgroundSelector {
  margin: 20px 0;
}

.backgroundGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.backgroundOption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s;
}

.backgroundOption:hover {
  border-color: #ccc;
}

.backgroundOption video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.leftContent {
  display: flex;
  align-items: center;
}

.content {
  margin-right: 20px;
}

